<div class="tile__container">
    <img
        class="tile__image"
        src="https://frogs.media/api/images/@FrogName"
        alt="The frog in question"/>
    <div class="tile-description__container">
        <h2 class="tile-description__name">@FrogName</h2>
        <p class="tile-description__description">@Description</p>
    </div>
</div>

@code {
    [Parameter, EditorRequired] public string FrogName { get; set; } = string.Empty;
    [Parameter] public string? Description { get; set; } = string.Empty;
}