<div class="tile__container">
    <img src="https://frogs.media/api/images/rose" alt="Image of the frog in question"/>
    <div class="tile-description__container">
        <h2 class="tile-description__name">Rose</h2>
    </div>
</div>


@code {
}