@page "/FrogListing"

@using TestSSRApp.Features.FrogListing.Components

<div class="flex w-screen h-screen justify-center items-center">
    <div class="w-48 h-48">
        <FrogTile></FrogTile>
    </div>
</div>

@code {
    
}