<nav>
    <div class="pl-4 py-2">
           <svg width="128" height="32" viewBox="0 0 83 17" fill="none" xmlns="http://www.w3.org/2000/svg">
               <g clip-path="url(#clip0_2383_424)">
                   <path d="M11.2053 16.7309H6.77029C4.86127 16.7309 3.41787 16.2018 2.42844 15.1317C1.43901 14.0617 0.938477 12.6271 0.938477 10.7927C0.938477 8.45274 1.64854 6.79475 3.06866 5.84229C3.99989 5.20732 5.23376 4.88983 6.77029 4.88983H11.2053V7.27686H7.1777C6.11843 7.27686 5.38509 7.44149 4.96603 7.75897C4.53534 8.09998 4.32582 8.71143 4.32582 9.6051H11.2053V12.0392H4.26761C4.26761 12.9093 4.4655 13.509 4.86127 13.85C5.2454 14.191 6.00202 14.3556 7.15442 14.3556H11.2053V16.7309Z" fill="black"/>
                   <path d="M54.8798 16.7309H46.6966C45.5675 16.7309 44.6945 16.4252 44.0659 15.8019C43.4373 15.1787 43.123 14.3321 43.123 13.2503C43.123 11.9451 43.4839 11.0044 44.2172 10.4282C44.9506 9.87551 46.1146 9.59331 47.721 9.59331H51.7835C51.7835 8.69964 51.5972 8.08818 51.2131 7.7707C50.8289 7.44145 50.0956 7.28858 49.0014 7.28858H43.9029V4.90155H50.1538C51.3993 4.90155 52.3538 5.07793 53.0173 5.4307C54.2628 6.1127 54.8914 7.40617 54.8914 9.32285V16.7309H54.8798ZM51.8184 14.4379V11.8627H48.1866C47.558 11.8627 47.1157 11.9215 46.8596 12.0391C46.4755 12.2273 46.2892 12.6036 46.2892 13.1562C46.2892 13.603 46.4289 13.9323 46.7199 14.1322C47.0109 14.3321 47.4183 14.4379 47.9538 14.4379H51.8184Z" fill="black"/>
                   <path d="M67.4631 10.6751C67.4631 12.145 67.1138 13.4149 66.4154 14.4732C65.426 15.9783 63.8895 16.7309 61.8175 16.7309H55.9624V0.527283H58.9656V4.90155L61.6429 4.88979C63.517 4.88979 64.9604 5.36014 65.9614 6.34788C66.9625 7.34737 67.4631 8.78194 67.4631 10.6751ZM64.3085 10.828C64.3085 9.73441 64.099 8.92305 63.6683 8.3939C63.1328 7.72365 62.2016 7.39441 60.8513 7.39441H58.954V14.3203H60.8281C62.1085 14.3203 63.0281 13.9793 63.5985 13.2973C64.0757 12.7211 64.3085 11.898 64.3085 10.828Z" fill="black"/>
                   <path d="M71.6306 16.7309H68.5459V0.539062H71.6306V16.7309Z" fill="black"/>
                   <path d="M82.9565 16.7309H78.5215C76.6125 16.7309 75.1691 16.2018 74.1797 15.1317C73.1902 14.0617 72.6897 12.6271 72.6897 10.7927C72.6897 8.45274 73.3998 6.79475 74.8199 5.84229C75.7511 5.20732 76.985 4.88983 78.5215 4.88983H82.9565V7.27686H78.9289C77.8697 7.27686 77.1363 7.44149 76.7173 7.75897C76.2866 8.09998 76.077 8.71143 76.077 9.6051H82.9565V12.0392H76.0305C76.0305 12.9093 76.2284 13.509 76.6241 13.85C77.0083 14.191 77.7765 14.3556 78.9173 14.3556H82.9681V16.7309H82.9565Z" fill="black"/>
                   <path d="M22.0776 5.31313C22.0776 5.31313 24.3009 8.80549 30.1677 6.75946C30.1677 6.75946 31.6111 6.32438 36.3952 3.37293C36.3952 3.37293 39.3868 1.15052 43.5191 2.05595C43.5191 2.05595 40.8302 -0.789676 35.7085 1.27987C30.5751 3.34941 28.4682 6.77122 22.0776 5.31313Z" fill="#34B233"/>
                   <path d="M39.2007 11.1102C33.9625 13.0151 31.809 16.143 25.2788 14.8142C25.2788 14.8142 27.5603 18.0244 33.5434 16.143C33.5434 16.143 35.0218 15.7432 39.9107 13.0269C39.9107 13.0269 40.9467 12.3096 42.716 11.898C42.716 11.8863 42.8674 11.0749 43.3679 10.4282C42.2271 10.3576 40.8187 10.5223 39.2007 11.1102Z" fill="#34B233"/>
                   <path d="M40.0967 5.10145C35.8713 6.08919 33.4966 8.35863 28.8172 9.96958C23.4976 11.804 19.5864 8.46446 19.5864 8.46446C23.4394 13.5207 29.1431 12.4389 31.3548 11.6981C33.5665 10.9573 36.4416 8.6526 40.6671 7.47673C41.5983 7.21803 42.4248 7.28858 43.3793 7.28858V4.90155C42.1221 4.90155 40.8999 4.91331 40.0967 5.10145Z" fill="#34B233"/>
                   <path d="M21.6001 5.70119C20.9017 5.16028 19.6911 4.90159 18.0265 4.90159L12.3228 4.88983V16.7309H15.291V7.47676H17.7588C18.5503 7.47676 19.1091 7.64139 19.4466 7.94711C19.5281 8.01767 19.7842 8.25284 19.9239 8.33515C21.1694 9.15827 22.3567 9.53455 22.8573 9.68741V9.2053C22.8456 7.51204 22.4382 6.34792 21.6001 5.70119ZM19.8308 9.38168V16.7309H22.8573V11.6746C21.6467 11.1337 20.5525 10.193 19.8308 9.38168Z" fill="black"/>
               </g>
               <defs>
                   <clipPath id="clip0_2383_424">
                       <rect width="83" height="17" fill="white"/>
                   </clipPath>
               </defs>
           </svg> 
    </div>
</nav>

@code {
    
}