:root {
  --eds-spacing-size-xl: 2.5;
  --eds-spacing-size-l: 2;
  --eds-spacing-size-m: 1.5;
  --eds-spacing-size-s: 1;
  --eds-spacing-size-xs: 0.5;
  --eds-measure-text-l: 80; /* The max width of a text-containing element */
  --eds-measure-text-m: 60; /* The max width of a text-containing element */
  --eds-measure-text-s: 40; /* The max width of a text-containing element */
  --eds-font-line-height-xxl: 3;
  --eds-font-line-height-xl: 2;
  --eds-font-line-height-l: 1.5;
  --eds-font-line-height-m: 1.375;
  --eds-font-line-height-s: 1.25;
  --eds-font-line-height-xs: 0.75;
  --eds-font-size-xl: 2.75; /* the large size of the font */
  --eds-font-size-l: 2; /* the large size of the font */
  --eds-font-size-m: 1.5; /* the medium size of the font */
  --eds-font-size-s: 1; /* the small size of the font */
  --eds-font-size-xs: 0.8125; /* the small size of the font */
  --eds-font-weight-xbold: 900;
  --eds-font-weight-bold: 700;
  --eds-font-weight-strong: 500;
  --eds-font-weight-normal: 400;
  --eds-font-weight-light: 300;
  --eds-font-family-normal: proxima-nova, sans-serif;
  --eds-filter-color-background-disabled: transparent;
  --eds-filter-color-background-focus: transparent;
  --eds-filter-color-background-active: transparent;
  --eds-filter-color-background-hover: transparent;
  --eds-filter-color-background-default: transparent;
  --eds-dropdown_item-color-border-required: transparent; /* Selected and disabled */
  --eds-dropdown_item-color-border-disabled: transparent;
  --eds-dropdown_item-color-border-active: transparent;
  --eds-dropdown_item-color-border-hover: transparent;
  --eds-dropdown_item-color-border-default: transparent;
  --eds-button-color-tile-subtle-background-default: transparent;
  --eds-button-color-background-disabled: transparent;
  --eds-button-color-background-active: transparent;
  --eds-button-color-background-hover: transparent;
  --eds-button-color-background-default: transparent;
  --eds-color-white: #FFFFFF;
  --eds-color-black: #000000;
  --eds-color-orange-90: #522600;
  --eds-color-orange-80: #6B3200;
  --eds-color-orange-70: #944500;
  --eds-color-orange-60: #B85600;
  --eds-color-orange-50: #D56707;
  --eds-color-orange-40: #FF7900; /* primary */
  --eds-color-orange-30: #FFC111;
  --eds-color-orange-20: #F8D862;
  --eds-color-orange-10: #FBF5E7;
  --eds-color-purple-90: #22024A;
  --eds-color-purple-80: #3B0083; /* primary */
  --eds-color-purple-70: #5300B8;
  --eds-color-purple-60: #7A19F0;
  --eds-color-purple-50: #A055F7;
  --eds-color-purple-40: #B377F9;
  --eds-color-purple-30: #C999FF;
  --eds-color-purple-20: #E1C7FF;
  --eds-color-purple-10: #F1E5FF;
  --eds-color-lime-90: #2F3201;
  --eds-color-lime-80: #454A02;
  --eds-color-lime-70: #535903;
  --eds-color-lime-60: #747C03;
  --eds-color-lime-50: #9FAA03;
  --eds-color-lime-40: #B6C304;
  --eds-color-lime-30: #CCDC00; /* primary */
  --eds-color-lime-20: #E5EF57;
  --eds-color-lime-10: #F5F8C4;
  --eds-color-fuchsia-90: #3C0230;
  --eds-color-fuchsia-80: #6B0056;
  --eds-color-fuchsia-70: #920075;
  --eds-color-fuchsia-60: #C814A4; /* primary */
  --eds-color-fuchsia-50: #E21DBA;
  --eds-color-fuchsia-40: #F14BD0;
  --eds-color-fuchsia-30: #F575DB;
  --eds-color-fuchsia-20: #FCB6EE;
  --eds-color-fuchsia-10: #FDE2F8;
  --eds-color-steel-90: #171C1C;
  --eds-color-steel-80: #2D3839;
  --eds-color-steel-70: #445355;
  --eds-color-steel-60: #5A6F72;
  --eds-color-steel-50: #82999C;
  --eds-color-steel-40: #AEBDBF;
  --eds-color-steel-30: #C1CBCD;
  --eds-color-steel-20: #D3D9DB;
  --eds-color-steel-15: #E1E7EB;
  --eds-color-steel-10: #EBF0F5; /* primary */
  --eds-color-red-90: #2F100F;
  --eds-color-red-80: #5E201E;
  --eds-color-red-70: #8D302D;
  --eds-color-red-60: #BC403C;
  --eds-color-red-50: #EB514C; /* primary */
  --eds-color-red-40: #EF736F;
  --eds-color-red-30: #F39693;
  --eds-color-red-20: #F7B9B7;
  --eds-color-red-10: #F9EEEE;
  --eds-color-teal-90: #002529;
  --eds-color-teal-80: #01444B;
  --eds-color-teal-70: #025B64;
  --eds-color-teal-60: #007A87;
  --eds-color-teal-50: #0093A3;
  --eds-color-teal-40: #04B4C8;
  --eds-color-teal-30: #74C3E2; /* primary */
  --eds-color-teal-20: #A2D7EB;
  --eds-color-teal-10: #D1EBF5;
  --eds-color-yellow-90: #2B2903;
  --eds-color-yellow-80: #3F3C04;
  --eds-color-yellow-70: #585404;
  --eds-color-yellow-60: #726C04;
  --eds-color-yellow-50: #978F02;
  --eds-color-yellow-40: #C6BC01;
  --eds-color-yellow-30: #D6CB00;
  --eds-color-yellow-20: #EEE21E; /* primary */
  --eds-color-yellow-10: #EEEA84;
  --eds-color-blue-90: #141E2E;
  --eds-color-blue-80: #21314D; /* primary */
  --eds-color-blue-70: #2F4460;
  --eds-color-blue-60: #495D74;
  --eds-color-blue-50: #5E7997;
  --eds-color-blue-40: #7492B4;
  --eds-color-blue-30: #97AFC9;
  --eds-color-blue-20: #B4C6DA;
  --eds-color-blue-10: #EFF4FE;
  --eds-color-green-90: #081D08;
  --eds-color-green-80: #113B11;
  --eds-color-green-70: #1A5919;
  --eds-color-green-60: #178816;
  --eds-color-green-50: #34B233; /* primary */
  --eds-color-green-40: #48D148;
  --eds-color-green-30: #95E295;
  --eds-color-green-20: #B9EEB9;
  --eds-color-green-10: #EFF8EC;
  --eds-brand-color-status-info: #3A88FE;
  --eds-font-color-disabled: var(--eds-color-steel-40);
  --eds-font-color-accent: var(--eds-color-white);
  --eds-font-color-faded: var(--eds-color-steel-60);
  --eds-font-color-base: var(--eds-color-black);
  --eds-toggle_switch-color-on-background-disabled: var(--eds-color-steel-10);
  --eds-toggle_switch-color-off-background-disabled: var(--eds-color-steel-10);
  --eds-toggle_slider-color-off-background-disabled: var(--eds-color-steel-20);
  --eds-toggle_slider-color-off-background-default: var(--eds-color-steel-30);
  --eds-tile-color-red-border-default: var(--eds-color-red-50);
  --eds-tile-color-red-text-secondary-default: var(--eds-color-red-20);
  --eds-tile-color-red-text-primary-default: var(--eds-color-white);
  --eds-tile-color-red-background-default: var(--eds-color-red-50);
  --eds-tile-color-yellow-border-default: var(--eds-color-yellow-20);
  --eds-tile-color-yellow-text-secondary-default: var(--eds-color-yellow-50);
  --eds-tile-color-yellow-text-primary-default: var(--eds-color-black);
  --eds-tile-color-yellow-background-default: var(--eds-color-yellow-20);
  --eds-tile-color-green-border-default: var(--eds-color-green-50);
  --eds-tile-color-green-text-secondary-default: var(--eds-color-green-20);
  --eds-tile-color-green-text-primary-default: var(--eds-color-white);
  --eds-tile-color-green-background-default: var(--eds-color-green-50);
  --eds-tile-color-accent-text-secondary-default: var(--eds-color-blue-20);
  --eds-tile-color-subtle-text-secondary-selected: var(--eds-color-blue-20);
  --eds-tile-color-subtle-background-focus: var(--eds-color-steel-15);
  --eds-tile-color-subtle-background-active: var(--eds-color-steel-15);
  --eds-tile-color-subtle-background-hover: var(--eds-color-steel-15);
  --eds-listing-color-selectable-background-active: var(--eds-color-steel-40);
  --eds-filter-color-border-active: var(--eds-color-steel-60);
  --eds-filter-color-border-hover: var(--eds-color-steel-60);
  --eds-dropdown_item-color-background-active: var(--eds-color-steel-30);
  --eds-button-color-tile-subtle-border-disabled: var(--eds-color-steel-30);
  --eds-button-color-tile-subtle-border-focus: var(--eds-color-steel-40);
  --eds-button-color-tile-subtle-border-active: var(--eds-color-steel-40);
  --eds-button-color-tile-subtle-background-disabled: var(--eds-color-steel-30);
  --eds-button-color-tile-subtle-background-focus: var(--eds-color-steel-40);
  --eds-button-color-tile-subtle-background-active: var(--eds-color-steel-40);
  --eds-button-color-prominent-border-disabled: var(--eds-color-steel-30);
  --eds-button-color-prominent-border-focus: var(--eds-color-steel-40);
  --eds-button-color-prominent-border-active: var(--eds-color-steel-40);
  --eds-button-color-prominent-background-disabled: var(--eds-color-steel-30);
  --eds-button-color-prominent-background-focus: var(--eds-color-steel-40);
  --eds-button-color-prominent-background-active: var(--eds-color-steel-40);
  --eds-button-color-border-focus: var(--eds-color-steel-60);
  --eds-button-color-border-active: var(--eds-color-steel-60);
  --eds-button-color-border-hover: var(--eds-color-steel-60);
  --eds-brand-color-status-warning: var(--eds-color-orange-40);
  --eds-brand-color-status-success: var(--eds-color-green-50);
  --eds-brand-color-status-danger: var(--eds-color-red-50);
  --eds-brand-color-background-secondary: var(--eds-color-steel-10);
  --eds-brand-color-background-base: var(--eds-color-white);
  --eds-brand-color-border-base: var(--eds-color-steel-20);
  --eds-brand-color-teal-dark: var(--eds-color-teal-50);
  --eds-brand-color-teal-light: var(--eds-color-teal-20);
  --eds-brand-color-teal: var(--eds-color-teal-30);
  --eds-brand-color-yellow-dark: var(--eds-color-yellow-30);
  --eds-brand-color-yellow-light: var(--eds-color-yellow-10);
  --eds-brand-color-yellow: var(--eds-color-yellow-20);
  --eds-brand-color-red-dark: var(--eds-color-red-60);
  --eds-brand-color-red-light: var(--eds-color-red-20);
  --eds-brand-color-red: var(--eds-color-red-50);
  --eds-brand-color-blue-dark: var(--eds-color-blue-90);
  --eds-brand-color-blue: var(--eds-color-blue-80);
  --eds-brand-color-blue-light: var(--eds-color-blue-60);
  --eds-brand-color-green-dark: var(--eds-color-green-60);
  --eds-brand-color-green: var(--eds-color-green-50);
  --eds-brand-color-green-light: var(--eds-color-green-40);
  --eds-brand-color-accent-dark: var(--eds-color-blue-90);
  --eds-brand-color-accent: var(--eds-color-blue-80);
  --eds-brand-color-accent-light: var(--eds-color-blue-60);
  --eds-brand-color-primary-dark: var(--eds-color-green-60);
  --eds-brand-color-primary: var(--eds-color-green-50);
  --eds-brand-color-primary-light: var(--eds-color-green-40);
  --eds-form-validation-font-panel: var(--eds-font-color-accent);
  --eds-form-checkbox-border-checked: var(--eds-brand-color-primary);
  --eds-form-checkbox-background-tick: var(--eds-brand-color-background-base);
  --eds-form-checkbox-background-checked: var(--eds-brand-color-primary);
  --eds-font-color-heading: var(--eds-brand-color-primary);
  --eds-tooltip_icon-color-error-background: var(--eds-brand-color-teal);
  --eds-tooltip_icon-color-info-background: var(--eds-brand-color-teal);
  --eds-tooltip-color-base-text: var(--eds-font-color-accent);
  --eds-toggle_switch-color-on-background-default: var(--eds-brand-color-background-base);
  --eds-toggle_switch-color-off-background-default: var(--eds-brand-color-background-base);
  --eds-toggle_slider-color-on-background-disabled: var(--eds-brand-color-accent-light);
  --eds-tile-color-accent-border-default: var(--eds-brand-color-accent);
  --eds-tile-color-accent-text-primary-default: var(--eds-font-color-accent);
  --eds-tile-color-accent-background-selected: var(--eds-brand-color-accent);
  --eds-tile-color-accent-background-disabled: var(--eds-brand-color-accent);
  --eds-tile-color-accent-background-focus: var(--eds-brand-color-accent);
  --eds-tile-color-accent-background-active: var(--eds-brand-color-accent);
  --eds-tile-color-accent-background-hover: var(--eds-brand-color-accent);
  --eds-tile-color-accent-background-default: var(--eds-brand-color-accent);
  --eds-tile-color-subtle-border-selected: var(--eds-brand-color-border-base);
  --eds-tile-color-subtle-border-disabled: var(--eds-brand-color-border-base);
  --eds-tile-color-subtle-border-focus: var(--eds-brand-color-border-base);
  --eds-tile-color-subtle-border-active: var(--eds-brand-color-border-base);
  --eds-tile-color-subtle-border-hover: var(--eds-brand-color-border-base);
  --eds-tile-color-subtle-border-default: var(--eds-brand-color-border-base);
  --eds-tile-color-subtle-text-secondary-disabled: var(--eds-font-color-disabled);
  --eds-tile-color-subtle-text-secondary-focus: var(--eds-font-color-faded);
  --eds-tile-color-subtle-text-secondary-active: var(--eds-font-color-faded);
  --eds-tile-color-subtle-text-secondary-hover: var(--eds-font-color-faded);
  --eds-tile-color-subtle-text-secondary-default: var(--eds-font-color-faded);
  --eds-tile-color-subtle-text-primary-selected: var(--eds-font-color-accent);
  --eds-tile-color-subtle-text-primary-disabled: var(--eds-font-color-disabled);
  --eds-tile-color-subtle-text-primary-focus: var(--eds-font-color-base);
  --eds-tile-color-subtle-text-primary-active: var(--eds-font-color-base);
  --eds-tile-color-subtle-text-primary-hover: var(--eds-font-color-base);
  --eds-tile-color-subtle-text-primary-default: var(--eds-font-color-base);
  --eds-tile-color-subtle-background-disabled: var(--eds-brand-color-background-secondary);
  --eds-tile-color-subtle-background-default: var(--eds-brand-color-background-secondary);
  --eds-listing-color-heading-border: var(--eds-brand-color-border-base);
  --eds-listing-color-heading-background: var(--eds-brand-color-background-base);
  --eds-listing-color-heading-text: var(--eds-font-color-faded);
  --eds-listing-color-selectable-text-required: var(--eds-font-color-accent); /* Selected and disabled */
  --eds-listing-color-selectable-text-disabled: var(--eds-font-color-disabled);
  --eds-listing-color-selectable-text-active: var(--eds-font-color-accent);
  --eds-listing-color-selectable-text-selected: var(--eds-font-color-accent);
  --eds-listing-color-selectable-text-hover: var(--eds-font-color-base);
  --eds-listing-color-selectable-text-default: var(--eds-font-color-base);
  --eds-listing-color-selectable-background-required: var(--eds-brand-color-accent-light); /* Selected and disabled */
  --eds-listing-color-selectable-background-disabled: var(--eds-brand-color-background-base);
  --eds-listing-color-selectable-background-hover: var(--eds-brand-color-background-secondary);
  --eds-listing-color-selectable-background-default: var(--eds-brand-color-background-base);
  --eds-listing-color-text-disabled: var(--eds-font-color-disabled);
  --eds-listing-color-text-default: var(--eds-font-color-base);
  --eds-listing-color-border-disabled: var(--eds-brand-color-border-base);
  --eds-listing-color-border-default: var(--eds-brand-color-border-base);
  --eds-listing-color-background-disabled: var(--eds-brand-color-background-base);
  --eds-listing-color-background-default: var(--eds-brand-color-background-base);
  --eds-filter-color-placeholder-disabled: var(--eds-font-color-disabled);
  --eds-filter-color-placeholder-focus: var(--eds-font-color-faded);
  --eds-filter-color-placeholder-active: var(--eds-font-color-faded);
  --eds-filter-color-placeholder-hover: var(--eds-font-color-faded);
  --eds-filter-color-placeholder-default: var(--eds-font-color-faded);
  --eds-filter-color-border-disabled: var(--eds-brand-color-border-base);
  --eds-filter-color-border-focus: var(--eds-brand-color-primary);
  --eds-filter-color-border-default: var(--eds-brand-color-border-base);
  --eds-filter-color-text-disabled: var(--eds-font-color-disabled);
  --eds-filter-color-text-focus: var(--eds-font-color-base);
  --eds-filter-color-text-active: var(--eds-font-color-base);
  --eds-filter-color-text-hover: var(--eds-font-color-base);
  --eds-filter-color-text-default: var(--eds-font-color-base);
  --eds-dropdown_item-color-border-focus: var(--eds-brand-color-primary);
  --eds-dropdown_item-color-text-required: var(--eds-font-color-accent); /* Selected and disabled */
  --eds-dropdown_item-color-text-selected: var(--eds-font-color-accent);
  --eds-dropdown_item-color-text-disabled: var(--eds-font-color-disabled);
  --eds-dropdown_item-color-text-focus: var(--eds-font-color-base);
  --eds-dropdown_item-color-text-active: var(--eds-font-color-base);
  --eds-dropdown_item-color-text-hover: var(--eds-font-color-base);
  --eds-dropdown_item-color-text-default: var(--eds-font-color-base);
  --eds-dropdown_item-color-background-required: var(--eds-brand-color-accent-light); /* Selected and disabled */
  --eds-dropdown_item-color-background-selected: var(--eds-brand-color-accent);
  --eds-dropdown_item-color-background-disabled: var(--eds-brand-color-background-base);
  --eds-dropdown_item-color-background-focus: var(--eds-brand-color-background-base);
  --eds-dropdown_item-color-background-hover: var(--eds-brand-color-background-secondary);
  --eds-dropdown_item-color-background-default: var(--eds-brand-color-background-base);
  --eds-control_region-color-text: var(--eds-brand-color-accent);
  --eds-control_region-color-border: var(--eds-brand-color-border-base);
  --eds-control_region-color-background: var(--eds-brand-color-background-secondary);
  --eds-button-color-tile-subtle-border-hover: var(--eds-brand-color-accent);
  --eds-button-color-tile-subtle-border-default: var(--eds-brand-color-border-base);
  --eds-button-color-tile-subtle-text-disabled: var(--eds-font-color-accent);
  --eds-button-color-tile-subtle-text-focus: var(--eds-font-color-accent);
  --eds-button-color-tile-subtle-text-active: var(--eds-font-color-accent);
  --eds-button-color-tile-subtle-text-hover: var(--eds-font-color-accent);
  --eds-button-color-tile-subtle-text-default: var(--eds-brand-color-accent);
  --eds-button-color-tile-subtle-background-hover: var(--eds-brand-color-accent);
  --eds-button-color-danger-border-disabled: var(--eds-brand-color-red-light);
  --eds-button-color-danger-border-focus: var(--eds-brand-color-red-dark);
  --eds-button-color-danger-border-active: var(--eds-brand-color-red-dark);
  --eds-button-color-danger-border-hover: var(--eds-brand-color-red-dark);
  --eds-button-color-danger-border-default: var(--eds-brand-color-red);
  --eds-button-color-danger-text-disabled: var(--eds-font-color-accent);
  --eds-button-color-danger-text-focus: var(--eds-font-color-accent);
  --eds-button-color-danger-text-active: var(--eds-font-color-accent);
  --eds-button-color-danger-text-hover: var(--eds-font-color-accent);
  --eds-button-color-danger-text-default: var(--eds-font-color-accent);
  --eds-button-color-danger-background-disabled: var(--eds-brand-color-red-light);
  --eds-button-color-danger-background-focus: var(--eds-brand-color-red-dark);
  --eds-button-color-danger-background-active: var(--eds-brand-color-red-dark);
  --eds-button-color-danger-background-hover: var(--eds-brand-color-red-dark);
  --eds-button-color-danger-background-default: var(--eds-brand-color-red);
  --eds-button-color-prominent-border-hover: var(--eds-brand-color-accent-light);
  --eds-button-color-prominent-border-default: var(--eds-brand-color-accent);
  --eds-button-color-prominent-text-disabled: var(--eds-font-color-accent);
  --eds-button-color-prominent-text-focus: var(--eds-font-color-accent);
  --eds-button-color-prominent-text-active: var(--eds-font-color-accent);
  --eds-button-color-prominent-text-hover: var(--eds-font-color-accent);
  --eds-button-color-prominent-text-default: var(--eds-font-color-accent);
  --eds-button-color-prominent-background-hover: var(--eds-brand-color-accent-light);
  --eds-button-color-prominent-background-default: var(--eds-brand-color-accent);
  --eds-button-color-border-disabled: var(--eds-brand-color-border-base);
  --eds-button-color-border-default: var(--eds-brand-color-border-base);
  --eds-button-color-text-disabled: var(--eds-font-color-disabled);
  --eds-button-color-text-active: var(--eds-brand-color-accent);
  --eds-button-color-text-hover: var(--eds-brand-color-accent);
  --eds-button-color-text-default: var(--eds-brand-color-accent);
  --eds-brand-color-background-accent: var(--eds-brand-color-accent);
  --eds-brand-color-border-accent: var(--eds-brand-color-accent);
  --eds-form-validation-background-panel: var(--eds-brand-color-background-accent);
  --eds-tooltip-color-base-border: var(--eds-brand-color-border-accent);
  --eds-tooltip-color-base-background: var(--eds-brand-color-background-accent);
  --eds-toggle_slider-color-on-background-default: var(--eds-brand-color-background-accent);
  --eds-tile-color-subtle-background-selected: var(--eds-brand-color-background-accent);
  --eds-listing-color-selectable-background-selected: var(--eds-brand-color-background-accent);
}

/*# sourceMappingURL=app.css.map */
